In [1]:
pwd

'/data/ephemeral/home/dataset'

In [2]:
import json

# COCO 데이터셋 JSON 파일 로드
with open('./train.json', 'r') as f:
    coco_data = json.load(f)

In [3]:
# 32x32 크기의 bbox만 추출
filtered_annotations = []
for annotation in coco_data['annotations']:
    bbox = annotation['bbox']
    # bbox 형식: [x, y, width, height]
    if bbox[2] * bbox[3] < 32*32:  # width와 height가 32인 경우만 선택
        filtered_annotations.append(annotation)

In [4]:
# 새로운 COCO JSON 데이터 구조 생성
filtered_coco_data = {
    "info": coco_data['info'],
    "licenses": coco_data['licenses'],
    "images": coco_data['images'],
    "annotations": filtered_annotations,
    "categories": coco_data['categories']
}

# 필터링된 데이터 저장
with open('train_32_32_coco_dataset.json', 'w') as f:
    json.dump(filtered_coco_data, f, indent=4)

print(f"32x32 bbox가 포함된 데이터를 filtered_coco_dataset.json에 저장했습니다.")

32x32 bbox가 포함된 데이터를 filtered_coco_dataset.json에 저장했습니다.

In [5]:
len(filtered_annotations)

313

In [ ]:
filtered_annotations

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(filtered_annotations)

In [9]:
df

,image_id,category_id,area,bbox,iscrowd,id
0,5,0,747.25,"[329.8, 203.2, 42.7, 17.5]",0,21
1,42,0,789.37,"[750.7, 479.8, 40.9, 19.3]",0,182
2,51,1,868.56,"[156.2, 222.5, 23.1, 37.6]",0,241
3,55,0,658.32,"[530.8, 877.7, 21.1, 31.2]",0,264
4,103,1,550.56,"[1011.3, 341.3, 12.4, 44.4]",0,460
...,...,...,...,...,...,...
308,4813,0,879.45,"[801.0, 1004.4, 45.1, 19.5]",0,22817
309,4814,0,845.46,"[452.6, 611.6, 46.2, 18.3]",0,22829
310,4824,5,893.04,"[1005.4, 2.8, 18.3, 48.8]",0,22878
311,4841,0,809.58,"[512.3, 684.7, 39.3, 20.6]",0,22975
312,4859,1,953.42,"[239.7, 974.2, 19.3, 49.4]",0,23074

In [10]:
df['category_id'].unique()

array([0, 1, 5, 7, 6, 3, 2, 4, 9])

In [11]:
df['category_id'].value_counts()

0    102
1     97
5     42
7     34
3     18
6      6
2      6
4      6
9      2
Name: category_id, dtype: int64